pandas(panel data) for data analytics

In [1]:
import pandas as pd

C:\Users\rorugan\AppData\Local\Temp\ipykernel_15352\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

series object is one-dimensional labeled array

In [3]:
s=pd.Series([1,2,3,4,5])
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
type(s)

pandas.core.series.Series

unlike numpy array this as labels and we can also change those labels

In [9]:
s=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

we can also create series with dictinaries

In [10]:
s1=pd.Series({"a":1,"b":2,"c":3})
s1

a    1
b    2
c    3
dtype: int64

indexing

same as list

In [11]:
s[3]

C:\Users\rorugan\AppData\Local\Temp\ipykernel_15352\3172538273.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  s[3]

4

basic math operations

In [13]:
# adding a scalar
s+2

a    3
b    4
c    5
d    6
e    7
dtype: int64

In [14]:
s+s1

a    2.0
b    4.0
c    6.0
d    NaN
e    NaN
dtype: float64

In [16]:
s*s1

a    1.0
b    4.0
c    9.0
d    NaN
e    NaN
dtype: float64

data frame is a 2D labelled data structure

In [17]:
df=pd.DataFrame({"name":["rahul","sunny","nani"],"rank":[0,1,1]})
df

    name  rank
0  rahul     0
1  sunny     1
2   nani     1

data sets with csv(comman sperated values)

In [31]:
#read_csv
i=pd.read_csv("auto.csv")

In [32]:
i.head()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,13495,NaN,NaN,NaN
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,2.68,9.0,111,5000,21,27,16500,NaN,NaN,NaN
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,3.47,9.0,154,5000,19,26,16500,NaN,NaN,NaN
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.40,10.0,102,5500,24,30,13950,NaN,NaN,NaN
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.40,8.0,115,5500,18,22,17450,NaN,NaN,NaN

In [33]:
i.tail()

,symboling,normalized-losses,make,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,3.15,9.5,114,5400,23,28,16845,NaN,NaN,NaN
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.15,8.7,160,5300,19,25,19045,NaN,NaN,NaN
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,2.87,8.8,134,5500,18,23,21485,NaN,NaN,NaN
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,3.40,23.0,106,4800,26,27,22470,NaN,NaN,NaN
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,3.15,9.5,114,5400,19,25,22625,NaN,NaN,NaN

In [34]:
i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 29 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   aspiration         205 non-null    object
 4   num-of-doors       205 non-null    object
 5   body-style         205 non-null    object
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   wheel-base         205 non-null    object
 9   length             205 non-null    float64
 10  width              205 non-null    float64
 11  height             205 non-null    float64
 12  curb-weight        205 non-null    float64
 13  engine-type        205 non-null    int64
 14  num-of-cylinders   205 non-null    object
 15  engine-size        205 non-null    object
 16  fuel-system        205 non-null    int64
 17  bore               205 non-null    object
 18  stroke             205 non-null    object
 19  compression-ratio  205 non-null    object
 20  horsepower         205 non-null    float64
 21  peak-rpm           205 non-null    object
 22  city-mpg           205 non-null    object
 23  highway-mpg        205 non-null    int64
 24  price              205 non-null    int64
 25  city-L/100km       205 non-null    object
 26  horsepower-binned  0 non-null      float64
 27  diesel             0 non-null      float64
 28  gas                0 non-null      float64
dtypes: float64(8), int64(5), object(16)
memory usage: 46.6+ KB

In [35]:
i.describe()

,symboling,length,width,height,curb-weight,engine-type,fuel-system,horsepower,highway-mpg,price,horsepower-binned,diesel,gas
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,0.0,0.0,0.0
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220,NaN,NaN,NaN
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443,NaN,NaN,NaN
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000,NaN,NaN,NaN
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000,NaN,NaN,NaN
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000,NaN,NaN,NaN
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000,NaN,NaN,NaN
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000,NaN,NaN,NaN

In [36]:
i.shape

(205, 29)

iloc (index location)

In [37]:
i.iloc[:30,2:4]

           make aspiration
0   alfa-romero        gas
1   alfa-romero        gas
2   alfa-romero        gas
3          audi        gas
4          audi        gas
5          audi        gas
6          audi        gas
7          audi        gas
8          audi        gas
9          audi        gas
10          bmw        gas
11          bmw        gas
12          bmw        gas
13          bmw        gas
14          bmw        gas
15          bmw        gas
16          bmw        gas
17          bmw        gas
18    chevrolet        gas
19    chevrolet        gas
20    chevrolet        gas
21        dodge        gas
22        dodge        gas
23        dodge        gas
24        dodge        gas
25        dodge        gas
26        dodge        gas
27        dodge        gas
28        dodge        gas
29        dodge        gas

loc

In [38]:
i.loc[:10,("gas")]

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
5    NaN
6    NaN
7    NaN
8    NaN
9    NaN
10   NaN
Name: gas, dtype: float64

dropping columns(axis=1) and rows(axis=0)

In [41]:
i.drop("make",axis=1)

,symboling,normalized-losses,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,horsepower-binned,diesel,gas
0,3,?,gas,std,two,convertible,rwd,front,88.6,168.8,...,2.68,9.0,111,5000,21,27,13495,NaN,NaN,NaN
1,3,?,gas,std,two,convertible,rwd,front,88.6,168.8,...,2.68,9.0,111,5000,21,27,16500,NaN,NaN,NaN
2,1,?,gas,std,two,hatchback,rwd,front,94.5,171.2,...,3.47,9.0,154,5000,19,26,16500,NaN,NaN,NaN
3,2,164,gas,std,four,sedan,fwd,front,99.8,176.6,...,3.40,10.0,102,5500,24,30,13950,NaN,NaN,NaN
4,2,164,gas,std,four,sedan,4wd,front,99.4,176.6,...,3.40,8.0,115,5500,18,22,17450,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,gas,std,four,sedan,rwd,front,109.1,188.8,...,3.15,9.5,114,5400,23,28,16845,NaN,NaN,NaN
201,-1,95,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,3.15,8.7,160,5300,19,25,19045,NaN,NaN,NaN
202,-1,95,gas,std,four,sedan,rwd,front,109.1,188.8,...,2.87,8.8,134,5500,18,23,21485,NaN,NaN,NaN
203,-1,95,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,3.40,23.0,106,4800,26,27,22470,NaN,NaN,NaN
204,-1,95,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,3.15,9.5,114,5400,19,25,22625,NaN,NaN,NaN

In [28]:
i.drop([1,2,3],axis=0)

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
5,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
6,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,18920
7,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
200,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
201,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
202,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
203,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [43]:
i["length"].mean()

98.75658536585367

In [44]:
i["length"].median()

97.0

In [45]:
i["length"].std()

6.021775685025571